.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: white;
}

.icon {
    display: flex;
    align-items: center;
}

.icon a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.portfolio {
    font-size: 18px;
    font-weight: bold;
}

.title {
    display: flex;
}

.text_header {
    margin-right: 20px;
    cursor: pointer;
}

.bnt_git {
}
