.footer {
    padding: 60px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600px;
}
.sub_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav {
    text-decoration: none;
    padding: 20px 20px 20px 0px;
    font-size: 16px;
    color: var(--soft-white);
}
.icon_ls {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 20px;
}
.icon img {
    width: 24px;
    height: 24px;
}
.copy_right {
    margin-top: 1rem;
    font-weight: 400px;
    font-size: 14px;
    color: var(--soft-white);
}
