@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.main {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
.container {
    background-color: #14171c;
}
.content_skill_experience {
    background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%),
        linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
    padding: 40px 0;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 20% 98%, 0px 100%);
}

.content_project {
    background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%),
        linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
    padding: 40px 0;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 20% 98%, 0px 100%);
}
.content_Education {
    background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%),
        linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
    padding: 40px 0;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 20% 98%, 0px 100%);
}

.title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 20px 0 20px 0;
    color: var(--white);
}
.sub_title {
    color: var(--soft-white);
    margin: 10px 0 20px 0;
    font-size: 18px;
    max-width: 600px;
    text-align: center;
}
