@media screen and (max-width: 1000px) {
    .image img {
        max-width: 180px;
        max-height: 180px;
        height: 100%;
        width: 100%;
    }
    .project_component {
        padding: 0 !important;
        margin: 0 10px;
    }
}

.Project {
    display: block;
    padding: 80px 0;
}
.project_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.project_component {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.project_content {
    max-width: 1300px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.tag {
    min-height: 460px;
    max-width: 360px;
    width: 100%;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
    border-radius: 10px;
    background-color: rgba(23, 23, 23, 0.6);
    transition: all 0.5s ease-in-out 0s;
    overflow: hidden;
}
.tag:hover {
    box-shadow: rgba(48, 110, 232, 0.5) 0px 0px 20px 0px;
    transform: translate(0, -10px);
}
.image {
    display: flex;
    justify-content: center;
}
.image img {
    max-width: 280px;
    max-height: 180px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.skill_ls {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 10px;
}
.skill_tag {
    padding: 2px 8px;
    color: var(--main-color);
    background-color: rgba(133, 76, 230, 0.15);
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
}
.project_name {
    color: var(--soft-white);
    font-weight: 600;
    font-size: 20px;
    max-width: 100%;
}
.project_day {
    color: var(--soft-white);
    opacity: 0.5;
    font-weight: 400;
    font-size: 12px;
    padding-top: 10px;
}
.description {
    color: var(--soft-white);
    opacity: 0.7;
    font-weight: 400;
    padding-top: 16px;
}
.btn_container {
    margin-top: auto;
    text-align: center;
}
.btn_project {
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 40px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: linear-gradient(to left, transparent, rgb(230, 0, 255));
    background-color: var(--main-color); /* fallback color */
    transition: all 0.4s ease-in-out 0s !important;
    text-decoration: none;
}
.btn_project:hover {
    background: rgba(48, 110, 232, 1);
}
